.drop-zone {
    position: relative;
    width: 100%;
    border: 1px black dashed;
    padding: 10px;
    min-height: 250px;
}

.jcenter {
    justify-content: center;
}

.drop-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
}

.drop-zone:hover {
    cursor: pointer;
}

.text {

}

.img-box {
    width: 200px;
    height: 150px;
    text-align: center;
    margin-bottom: 10px;
}

.file-input {
    display: none;
}

.tbl-img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 140px;
    height: 120px;
    margin-bottom: 5px;
}