/* General */
body {
    background-color: #ecedee;
}

.card {
    border: none;
    overflow: hidden
}

/* Mini Images */
.thumbnail_images {
    margin-top: 10px;
    margin-bottom: 10px;
}

.thumbnail_image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 3px;
    width: 80px;
    height: 80px;
    border: 2px solid #eee;
    cursor: pointer;
    transition: all 0.5s;
}

.thumbnail_image:hover {
    border: 2px solid #000
}

.thumbnail_image img {
    max-height: 100%;
    max-width: 100%;
}

/* Main Image */
.main_image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eee;
    height: 420px;
    width: 100%;
    overflow: hidden
}

.main_image img {
    max-width: 95%;
    max-height: 95%;
}

/* right side */
.right-side {
    position: relative
}

.buttons .btn {
    height: 50px;
    width: 150px;
}