body {
    background-color: #ecedee;
}

.card {
    border: none;
    overflow: hidden
}

.thumbnail_images {
    margin-top: 10px;
}

.thumbnail_images img {
    margin: 5px;
    padding: 6px;
    width: 110px;
    border: 2px solid #eee;
    cursor: pointer;
    transition: all 0.5s
}

.thumbnail_images img:hover {
    border: 2px solid #000
}

.main_image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eee;
    height: 400px;
    width: 100%;
    overflow: hidden
}

.main_image img {
    width: 95%;
    max-height: 95%;
}

.right-side {
    position: relative
}

.buttons .btn {
    height: 50px;
    width: 150px;
    border-radius: 0 !important
}